version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: riddle
    ports:
      - '5432:5432'
  server:
    build: ./server
    env_file:
      - ./server/.env
    depends_on:
      - db
    ports:
      - '4000:4000'
  client:
    build: ./client
    depends_on:
      - server
    ports:
      - '3000:3000'
